$button-hover: #58e040;
$primary-color: #9bf389;

.contact {
    width: 100%;
    min-height: 90vh;
    background-position: center;
    background-size: cover;
    margin-top: 80px;
    color: white;
    &__container {
        width: 70%;
        display: flex;
        margin: 0 auto;
    }
    &__image-container {
        width: 50%;
        height: 90vh;
        align-self: center;
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: left;
    }
    &__input input,
    textarea {
        padding: 20px;
        border: transparent 2px solid;
        width: 100%;
        background-color: rgb(238, 238, 238);
        &:focus {
            border: $primary-color 2px solid;
            outline: none;
        }
    }
    .field {
        margin-bottom: 30px;
    }
    .middleColumn {
        margin-top: 10px;
    }
    &__button {
        padding: 20px 0;
        width: 100%;
        border: none;
        cursor: pointer;
        background-color: $primary-color;
        font-size: 16px;
        transition: 0.2s all ease-in;
        &:hover {
            background-color: $button-hover;
        }
    }
    &__content {
        width: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &-title {
            font-size: 60px;
        }

        label {
            font-size: 18px;
        }
    }
    .bad {
        color: red;
    }
}

fieldset {
    border: none;
}

@media only screen and (max-width: 1480px) {
    .contact {
        &__container {
            width: 90%;
        }
    }
}

@media only screen and (max-width: 1150px) {
    .contact {
        &__container {
            flex-direction: column;
            width: 90%;
            margin: 0 auto;
        }
        &__content {
            width: 100%;
            margin-top: 50px;
        }
        &__image-container {
            height: 70vh;
        }
    }
}
