@import url("https://fonts.googleapis.com/css?family=Sen:400,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Sen", sans-serif; }

.hero {
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .hero__title {
    color: white;
    font-size: 72px;
    text-align: center;
    word-spacing: 100vw;
    line-height: 70px; }
  .hero__subtitle {
    margin-top: 5px;
    color: white;
    letter-spacing: 2px;
    font-size: 18px; }
  .hero__button {
    margin-top: 40px;
    padding: 15px 50px;
    width: 100%;
    border: none;
    background-color: #9bf389;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 6px 5px 2px rgba(0, 0, 0, 0.6);
    transition: 0.2s all ease-in; }
    .hero__button:hover {
      background-color: #58e040;
      box-shadow: 0px 6px 5px 2px rgba(0, 0, 0, 0.9); }
    .hero__button:focus {
      outline: none; }

.featured {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .featured__container {
    width: 70%;
    height: 700px;
    position: relative; }
  .featured__container:nth-of-type(even) .featured__image {
    top: 50px;
    right: 50px; }
  .featured__container:nth-of-type(even) .featured__text {
    left: 50px;
    bottom: 50px; }
  .featured__container:nth-of-type(odd) .featured__image {
    left: 50px;
    bottom: 50px; }
  .featured__container:nth-of-type(odd) .featured__text {
    top: 50px;
    right: 50px; }
  .featured__image {
    width: 60%;
    height: 500px;
    position: absolute;
    border: 4px solid #f6b162;
    object-fit: cover;
    object-position: center center; }
  .featured__text {
    text-align: center;
    width: 45%;
    height: 350px;
    position: absolute;
    background-color: #f6b162;
    border: 4px solid #f6b162;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .featured__text h1 {
      font-size: 60px; }
    .featured__text p {
      font-size: 18px;
      width: 70%; }
  .featured__button {
    border: none;
    margin-top: 20px;
    padding: 10px 50px;
    color: black;
    border: 2px solid black;
    background-color: #ffedd9;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s all ease-in; }
    .featured__button:hover {
      background-color: white; }

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #111111;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .navbar__container {
    width: 60%;
    margin: 0 auto; }
  .navbar__list {
    display: flex;
    justify-content: space-around;
    list-style-type: none; }
  .navbar__item {
    text-decoration: none;
    color: white;
    font-size: 20px; }

.footer {
  padding: 20px 0;
  width: 100%;
  background-color: #111111;
  position: relative;
  bottom: 0;
  color: white; }
  .footer__header {
    text-align: center;
    margin-bottom: 5px; }
  .footer__bottom {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    border-top: 2px white solid; }
  .footer .openingtimes {
    width: 60%;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    text-align: center; }
    .footer .openingtimes__item {
      margin: 5px 10px; }

@media only screen and (max-width: 1080px) {
  .footer__bottom {
    display: block;
    text-align: center;
    width: 90%;
    margin-top: 10px;
    padding: 10px; }
  .footer .openingtimes {
    width: 90%;
    font-size: 14px; }
  .featured__text h1 {
    font-size: 46px; }
  .featured__text p {
    font-size: 16px;
    width: 70%; }
  .featured__container {
    width: 90%; } }

@media only screen and (max-width: 720px) {
  .hero__title {
    font-size: 48px;
    line-height: 50px; }
  .hero__subtitle {
    font-size: 16px; }
  .featured__image {
    width: 100%; }
  .featured__text {
    width: 80%;
    height: 200px; }
    .featured__text h1 {
      font-size: 36px; }
    .featured__text p {
      font-size: 14px;
      width: 70%; }
  .featured__container {
    height: 500px;
    margin-bottom: 50px;
    width: 90%; }
    .featured__container:last-of-type {
      margin-bottom: 0; }
    .featured__container:nth-of-type(odd) .featured__image, .featured__container:nth-of-type(even) .featured__image {
      left: auto;
      bottom: auto;
      top: auto;
      right: auto; }
    .featured__container:nth-of-type(odd) .featured__text, .featured__container:nth-of-type(even) .featured__text {
      top: auto;
      bottom: 40px;
      right: 10%;
      left: 10%;
      -webkit-box-shadow: 0px 6px 8px -1px rgba(0, 0, 0, 0.56);
      -moz-box-shadow: 0px 6px 8px -1px rgba(0, 0, 0, 0.56);
      box-shadow: 0px 6px 8px -1px rgba(0, 0, 0, 0.56); }
  .navbar__container {
    width: 100%; } }
